@model CourseProject.DAL.Models.EF.Seller

@{
    ViewData["Title"] = "Update";
}

<h1>Зміна інформації щодо працівника </h1>

<h1 style="color:yellow;font-size:16px;">@(ViewData["Exception"] ?? (""))</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="TryUpdate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label">Ідентифікатор</label>
                <input asp-for="Id" class="form-control" min="1" max="100000" required />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellerName" class="control-label">Ім'я</label>
                <input asp-for="SellerName" class="form-control" minlenth="1" maxlenth="40"/>
                <span asp-validation-for="SellerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellerSurname" class="control-label">Прізвище</label>
                <input asp-for="SellerSurname" class="form-control" minlenth="1" maxlenth="40" />
                <span asp-validation-for="SellerSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label">Телефон</label>
                <input asp-for="Phone" class="form-control" minlenth="1" maxlenth="40" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Пошта</label>
                <input asp-for="Email" class="form-control" minlenth="1" maxlenth="40" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Зберегти" class="btn btn-lg btn-primary" />
                <a type="button" asp-action="GetSellerName" asp-controller="Seller" class="btn btn-lg btn-dark">Повернутися назад</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
