<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            background-color: #f7f7f7;
        }

        .contact-info {
            background-color: #ffffff;
            border-radius: 5px;
            padding: 20px;
            margin: 0 auto;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }


        p {
            color: #555555;
            line-height: 1.5;
            margin-bottom: 20px;
        }

        .highlight {
            color: #0088cc;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="contact-info">
        <h2>Економічний та екологічно чистий транспорт від Girosmart</h2>
        <hr />
        <p>Орендуючи товар на нашому сайті, ви економите двічі. Перший раз - взявши в оренду електротранспорт за доступною ціною. А другий раз - на паливі для вашого транспорту.</p>
        <p>Для цього достатньо порівняти ціни на паливо стандартного автомобіля та ціну на електроенергію, яка потрібна для зарядки електротранспорту, а також витрати на обслуговування. Вигода очевидна. Проте найважливішою характеристикою в умовах постійного погіршення екологічної ситуації є <span class="highlight">екологічність</span> електричних пристроїв.</p>
        <p>Експлуатація електронного транспортного засобу абсолютно безпечна для навколишнього середовища та здоров'я людей завдяки відсутності вихлопних газів та інших токсичних речовин, що утворюються в результаті роботи бензинових двигунів. Крім того, робота електротранспорту абсолютно безшумна.</p>
    </div>
</body>
</html>
       