@model Views_Home_Contacts
<!DOCTYPE html>
<html>
<head>
    <title>Зв'язатися з нами</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            background-color: #f7f7f7;
        }

        h2 {
            color: #333333;
            font-size: 24px;
            margin-bottom: 10px;
        }

        p {
            color: #555555;
            font-size: 16px;
            margin-bottom: 5px;
        }

        .contact-info {
            background-color: #ffffff;
            border-radius: 5px;
            padding: 20px;
        }

            .contact-info h4 {
                color: #333333;
                font-size: 18px;
                margin-top: 0;
            }

            .contact-info p.phone {
                margin-top: 10px;
                font-weight: bold;
            }

            .contact-info p.email {
                margin-top: 10px;
                font-weight: bold;
            }

            .contact-info p.address {
                margin-top: 10px;
            }
    </style>
</head>
<body>
    <div class="contact-info">
        <h2>Зв'язатися з нами</h2>
        <hr />
        <h4>Основний магазин</h4>
        <p class="phone">Телефон</p>
        <p>+38 (050) 909 49 90</p>
        <p>+38 (093) 909 49 90</p>
        <p>з 10.00 до 20.00 без вихідних</p>
        <hr />
        <h4>Електронна пошта</h4>
        <p class="email">Girosmart.com.ua@gmail.com</p>
        <hr />
        <h4>Адреса магазину</h4>
        <p class="address">м. Харків, пр. Гагаріна, буд. 7</p>
    </div>
</body>
</html>