@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/BackGround.css"/>

<div class="text-center">
    <h1 class="display-4"><strong>Welcome Girosmart!</strong></h1>
    <font size="5">
        <a type="button" class="btn btn-lg btn-light" style="" href=" @Url.ActionLink("Get", "Transport", new { @class = "btn btn-light" })">Клієнт</a>
        <a type="button" class="btn btn-lg btn-primary" style="" href=" @Url.ActionLink("GetAllTransports", "Transport", new { @class = "btn btn-primary" })">Продавець</a>
    </font>
</div>


