@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><strong>Welcome Girosmart!</strong></h1>
    <font size="5">
        <a class="btn-primary" style="" href="@Url.Action("ClientPartsCatalog","Home")">Клієнт</a>
        <a class="btn-secondary" href="@Url.Action("GetAllTransports","Transport")">Продавець</a>
    </font>
</div>

<div class="text-center">
    <img src="~/Images/Background.png" alt="Image">
</div>