@model Views_Home_Privacy
@{
    ViewData["Title"] = "СПОСОБИ ДОСТАВКИ";
}

<h2>СПОСОБИ ДОСТАВКИ</h2>
<hr />

<div class="delivery-methods mt-4">
    <h4>Доставка у Харкові</h4>
    <p>Здійснюється кур'єрами інтернет-магазину.</p>
    <p>САМОВИВІЗ У Харкові.</p>
    <p>Залежно від часу оформлення замовлення, воно буде доставлено в той же день або протягом наступних доб.</p>
    <p>Вартість доставки - безкоштовно.</p>
</div>

<div class="delivery-time mt-4">
    <h4>Час доставки</h4>
    <p>З понеділка по неділю з 10:00 до 20:00.</p>
    <p>Будь ласка, уточнюйте зручний час доставки у оператора.</p>
</div>

<div class="pickup mt-4">
    <h4>Самовивіз</h4>
    <p>Ви можете самостійно забрати товар в пункті видачі замовлень.</p>
    <p>Обов'язково зачекайте дзвінка оператора колл-центру для підтвердження резервування вашого замовлення.</p>
    <p>Адреса пункту видачі замовлень:</p>
    <p>м. Харків, вул. Гагаріна, буд. 7</p>
</div>

<div class="working-hours mt-4">
    <h4>Час роботи</h4>
    <p>З 10:00 до 19:00</p>
</div>

<div class="payment-methods mt-4">
    <h4>Оплата</h4>
    <p>Готівкою. Оплата готівкою можлива при самовивозі з офісу GiroSmart та доставці кур'єром у Харкові.</p>
    <p>Оплата здійснюється виключно в національній валюті.</p>
    <p>Підтвердженням оплати є товарний чек.</p>
    <p>Банківською карткою. (Незабаром)</p>
</div>