<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog.org/schema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog.org/schema http://www.nlog.org/schemas/NLog.xsd">
  <targets>
    <!-- Определяем цель логирования (файл) -->
    <target name="logfile" xsi:type="File" fileName="Logs/logfile.txt" layout="${longdate} ${level} ${message} ${exception}" />
  </targets>

  <rules>
    <!-- Уровень логирования для всех логеров -->
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>